/* ====================
   Brand Variables
   ==================== */

   :root {
    /* Colors */
    --primary-color: #042326; /*Dark Green*/
    --secondary-color: #47663B; /*Dark Green (lighter)*/
    --accent-color: #EED3B1; /*Light Brown*/
    --text-color: #333333;
    --background-color: #f5f5f5;
    --background-color-off-white: #f1f2ef;

    /* Fonts */
    --font-heading: 'Gotham', sans-serif;
    --font-body: 'Gotham', sans-serif;

    /* Spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;

    /* Border radius */
    --border-radius: 8px;
}
