<nav class="navbar">
    <div class="logo">
        <a href="./index.html">
            <img src="./assets/images/59-traveller-logo-no-circle.png" alt="Your Travel Agency Logo" class="logo-img">
        </a>
    </div>

    <div class="nav-menu">
        <div class="nav-close" id="nav-close">
            <i class="fas fa-times"></i>
        </div>
        <ul class="nav-links">
            <li><a href="./about.html" data-translate="about_us">Etusivu</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-translate="explore">
                    Teemamatkat <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="./example-dunhill-links.html">Dunhill Links, Skotlanti</a></li>
                    <li><a href="./julia-bogogno-theme.html">Golf & Health, Pohjois-Italia</a></li>
                </ul>
            </li>
            <li><a href="./businesses.html" data-translate="businesses">Yrityksille</a></li>
            <li><a href="#footer" data-translate="contact">Yhteystiedot</a></li>
        </ul>
        <button id="lang-switch">EN</button>
    </div>

    <div class="hamburger" id="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
