<nav class="navbar">
    <div class="logo">
        <a href="/index.html">
            <img src="assets/images/59-traveller-logo-sharp.png" alt="Your Travel Agency Logo" class="logo-img">
        </a>
    </div>

    <ul class="nav-links">
        <li><a href="/about.html" data-translate="about_us">Tietoa meistä</a></li>
        <li><a href="/destinations.html" data-translate="explore">Matkat</a></li>
        <li><a href="/businesses.html" data-translate="businesses">Yrityksille</a></li>
        <li><a href="/contact.html" data-translate="contact">Yhteystiedot</a></li>
    </ul>
    <button id="lang-switch">EN</button>
</nav>
